
/* GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #393E46;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.ricardo-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ADB5;
    color: #393E46;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00acb5ce;
    transform: scale(1.03);
    transition: .5s;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;   
}

h2.titulo span{
    color:#00ADB5;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00ADB5;
    font-size: 30px;
    cursor: pointer;
    margin: 0px 8px;
}

/* CABEÇALHO */

header{
    padding: 40px 4%;
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #00ADB5;
    text-decoration: none;
    display: inline-block;
}

header nav.menu-desktop a:hover{
    color: rgb(13, 199, 199);
    transform: scale(1.1);
    transition: .5s;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

.menu-mobile{
    display: none;
}

.btn-abrir-menu{
    display: none;
}

/* TOPO DO SITE */

section .topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1{
    color: #EEEEEE;
    font-size: 35px;
    line-height: 40px;
    margin: 40px;
    text-align: justify;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00ADB5;
}

.topo-do-site .flex .ricardo-contato{
    margin: 40px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .titulo{
    margin-bottom: 45px;
}

.especialidades .especialidades-box{
    padding: 40px;
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #EEEEEE;
    display: inline-block;
    border-radius: 20px;
    transition: .2s;   
}

.especialidades .especialidades-box:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.795);
}

/* SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #00ADB5;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

/* MEUS PROJETOS */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.096);
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.747);
    opacity: 0;
    color: white;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* CONTATO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    height: 200px;  
}

.btn-enviar{
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #00ADB5;
    color: black;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
}

form .btn-enviar:disabled{
    cursor: not-allowed;
    background-color: #393E46;
}

form .btn-enviar:disabled:hover{
    box-shadow: none;
    transform: none;
    transition: none;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

/* FOOTER */

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.096);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;   
}

.borda{
    border-top: solid #00ADB5;
}

footer .line-footer p i{
    color: #00ADB5;
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
    text-decoration: none;
}

.top-back{
    text-decoration: none;
    color: white;
    background-color: #00ADB5;
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 9500;
}

/* MEDIA QUERYS */

@media screen and (max-width: 1020px){

    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 32px;
        line-height: 30px;
    }   

    .menu-desktop, .ricardo-contato{
        display: none;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    
    .topo-do-site .txt-topo-site h1{
        font-size: 30px;
    }

    section.topo-do-site .flex{
        gap: 40px;
    }

    section.especialidades{
        padding: 40px 8%;
    }

    section.sobre{
        padding: 40px 8%;
    }

    section .img-sobre-true{
        width: 100%;
        max-width: 360px;       
    }

    .sobre .txt-sobre h2{
        text-align: center;
    }

    .sobre .btn-social{
        text-align: center;
    }

    section.portfolio{
        padding: 80px 8%;

    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 30px auto;
    }

    footer .flex{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .especialidades .especialidades-box{
        padding: 20px;
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 20px;
        display: inline-block;   
    }

    
/* MENU MOBILE */

.btn-abrir-menu i{
    color: #00ADB5;
    font-size: 40px;
}

.menu-mobile{
    background-color: #393E46;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300px;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #00ADB5;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile .btn-fechar{
    padding: 0px 4%;
}

.menu-mobile .btn-fechar i{
    color: #00ADB5;
    font-size: 35px;
}

.menu-mobile{
    display: block;
}

.btn-abrir-menu{
    display: block;
}

}